<header class="masthead">
	<a href="{{ site.github.url }}/">
		<img src="/assets/img/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}" class="site-logo"></a>

  <h3 class="masthead-title">
    <!-- <a href="{{ site.github.url }}/">{{ site.data.settings.title }}</a> -->
    <small class="masthead-subtitle">{{ site.data.settings.tagline }}</small>
    <small><a href="http://click.tunnelbear.com/SHLm">Ad: Join TunnelBear with a free 7-day trial!</a></small>
    {% include menu.html %}
  </h3>
</header>
